.menue {
	background: #2f2f2f;
	padding-top: rem(24);
	padding-bottom: rem(24);

	@include mq("md") {
		padding-top: rem(72);
		padding-bottom: rem(72);
	}
}

.menue__wrap {
	border: rem(1) solid $font-color-white;
	padding-bottom: rem(30);

	@include mq("md") {
		max-width: rem(1296);
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: rem(100);
	}
}

.menue__head {
	padding-top: rem(32);

	@include mq("md") {
		padding-top: rem(78);
	}
}

.menue__nutrition {
	margin-top: rem(48);
	text-align: center;
	color: $font-color-white;
	letter-spacing: 0.03em;
	font-size: rem(16);

	@include mq("md") {
		font-size: rem(18);
		margin-top: rem(33);
	}
}

.menue__items {
	padding-bottom: rem(2);

	@include mq("md") {
		padding-bottom: rem(15);
		text-align: center; //2つ目と3つ目のmenueをinline-blockでセンター配置
	}
}

.menue__item {
	&:nth-child(1) {
		margin-top: rem(48);
		@include mq("md") {
			margin-top: rem(100);
		}
	}

	&:nth-child(2) {
		margin-top: rem(10);
		@include mq("md") {
			margin-top: rem(61);
		}
	}

	&:nth-child(3) {
		margin-top: rem(-6);
		@include mq("md") {
			margin-top: rem(61);
			margin-left: rem(31);
		}
	}
}

.menue__sns {
	width: (300 / 343) * 100%;
	background: $bg-white;
	padding: rem(51) rem(10) rem(34);
	margin-right: auto;
	margin-left: auto;
	outline: rem(1) solid $font-color-black; //内側の枠線を作成
	outline-offset: rem(-11); //内側の枠線を作成
	margin-top: rem(-6);
	position: relative;

	@include mq("md") {
		margin-top: rem(13);
		padding-top: rem(72);
		padding-bottom: rem(37);
		max-width: rem(1080);
		outline-offset: rem(-13); //内側の枠線を作成
		width: 100%;
	}
}

.menue__instagram {
	width: (185 / 280) * 100%;
	margin-right: auto;
	margin-left: auto;
	background: $bg-green;
	padding: rem(8);
	text-align: center;
	font-family: $font-family-en;
	font-size: rem(24);
	letter-spacing: 0.05em;
	color: $font-color-white;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;

	@include mq("md") {
		max-width: rem(360);
		width: 100%;
		font-size: rem(30);
		padding: rem(13);
		top: 0;
		left: 49.3%;
		transform: translateX(-50%);
	}
}

.menue__text {
	width: (236 / 280) * 100%;
	margin-right: auto;
	margin-left: auto;
	line-height: rem(23.17);
	margin-top: rem(23);
	text-align: justify;
	letter-spacing: 0.054em;

	@include mq("md") {
		margin-top: rem(29);
		font-size: rem(17);
		text-align: center;
		letter-spacing: 0.1em;
		position: relative;

		&::before {
			position: absolute;
			content: "";
			top: rem(-5);
			left: rem(160);
			height: rem(35.81);
			width: rem(1);
			transform: rotate(-37deg);
			background: $font-color-black;
		}

		&::after {
			position: absolute;
			content: "";
			top: rem(-5);
			right: rem(165);
			height: rem(35.81);
			width: rem(1);
			transform: rotate(37deg);
			background: $font-color-black;
		}
	}
}

.menue__images {
	margin-top: rem(48);
	width: (260 / 280) * 100%;
	margin-right: auto;
	margin-left: auto;
	font-size: 0; //inline-blockの隙間を０にする

	@include mq("md") {
		width: rem(983);
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		margin-top: rem(37);
	}
}

.menue__image {
	width: (125 / 260) * 100%;
	display: inline-block;

	&:nth-child(2n + 2) {
		margin-left: (10 / 260) * 100%;
	}

	&:nth-child(n + 3) {
		margin-top: (10 / 260) * 100%;
	}

	@include mq("md") {
		width: 231px;
		height: 231px;

		&:not(:first-child) {
			margin-left: 1.62881%;
		}

		&:nth-child(n + 3) {
			margin-top: 0;
		}
	}
}

.menue__id {
	margin-top: rem(8);
	text-align: center;

	@include mq("md") {
		font-size: rem(18);
		margin-top: rem(7);
	}
}

.menue__button {
	text-align: center;
	margin-top: rem(24);
}
