// 透過度
$opacity: 0.6;
$hover-opacity: 0.8;

//フォント
$font-color-black: #333;
$font-color-white: #FFF;

//背景色
$bg-black: #2F2F2F;
$bg-white: #F2F2F2;
$bg-green: #159741;

body {
	background: $bg-white;
}